<div
  class="app value-selector no-select"
  th:fragment="dropbox(limit)"
>
  <div id="value_selector" class="value-selector__input">
    <div class="value-selector__input-content">
      <div th:text="${limit}">
      </div>
      <div id="arrow" class="value-selector__arrow" onclick="switchDropDownList()">
        &#9660;
      </div>
    </div>
  </div>
  <div id="drop_down_list" class="drop-down-list">
    <form
      method="GET"
      action="products"
    >
      <button type=submit name="limit" value="10" class="drop-down-list__item" >10</button>
      <button type=submit name="limit" value="20" class="drop-down-list__item" >20</button>
      <button type=submit name="limit" value="50" class="drop-down-list__item" >50</button>
      <button type=submit name="limit" value="100" class="drop-down-list__item" >100</button>
    </form>
  </div>
</div>