<div
  class="product-card"
  th:fragment="productCard(id, name, imagePath, description, price)"
>
  <div class="product-card__first-col">
    <form
      th:action="'product/' + ${id}"
      method="GET"
    >
      <button class="product__card-wrap">
        <div th:replace="~{fragments/common/image_wrapper :: imageWrapper(
        ${128},
        ${160},
        ${true},
        ${imagePath}
      )}">
        </div>
      </button>
    </form>
  </div>
  <div class="ml-2 product-card__info">
    <div
      class="mb-4"
      th:text="${name}"
    >
    </div>
    <div
      class="product-card__description mb-4"
      th:text="${description}"
    >
    </div>
    <div
      class="product-card__price"
      th:text="'Стоимость: ' + ${price} + '&#8381;'"
    >
    </div>
  </div>
</div>