<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body class="app test">
<div class="app-center">
  <div th:replace="~{fragments/common/header/index :: header}"></div>
    <div class="store-app row app-width">
<!--        <div class="store-filter">-->
<!--            <jsp:include page="../../ui/filter.html.jsp">-->
<!--                <jsp:param name="name" value="${data.getFilter().getName()}"></jsp:param>-->
<!--                <jsp:param name="priceMin" value="${data.getFilter().getPrice().getMin()}"></jsp:param>-->
<!--                <jsp:param name="priceMax" value="${data.getFilter().getPrice().getMax()}"></jsp:param>-->
<!--                <jsp:param name="brand" value="${data.getFilter().getBrand()}"></jsp:param>-->
<!--                <jsp:param name="category" value="${data.getFilter().getCategory()}"></jsp:param>-->
<!--                <jsp:param name="brands" value="${data.getFilter().getBrands()}"></jsp:param>-->
<!--                <jsp:param name="categories" value="${data.getFilter().getCategories()}"></jsp:param>-->
<!--            </jsp:include>-->
<!--        </div>-->
      <div class="store-product col">
        <div th:if="${page.getTotalElements() == 0}">
          <div class="empty-wrapper">
            <div class="empty-content">
              По вашему запросу ничего не найдено! Укажите корректные данные для поиска.
            </div>
          </div>
        </div>
        <div th:unless="${page.getTotalElements() == 0}">
          <div th:each="product : ${page.content}">
            <div th:replace="~{fragments/products/product_card :: productCard(
              ${product.getId()},
              ${product.getName()},
              ${product.getImagePath()},
              ${product.getDescription()},
              ${product.getPrice()}
            )}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="store-pagination row">
<!--        <jsp:include page="../../ui/pagination.html.jsp">-->
<!--            <jsp:param name="pagination" value="${data.getTableMeta().getPagination()}"/>-->
<!--            <jsp:param name="page" value="${data.getTableMeta().getPage()}"/>-->
<!--        </jsp:include>-->
      <div th:replace="~{fragments/ui/dropbox :: dropbox(10)}">
      </div>
<!--        <jsp:include page="../../ui/dropbox.html.jsp">-->
<!--            <jsp:param name="limit" value="${data.getTableMeta().getLimit()}"/>-->
<!--        </jsp:include>-->
    </div>
</div>
</body>
</html>
<style>
    .empty-wrapper {
        width: 540px;
        height: 232px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .empty-content {
        text-align: center;
        width: 450px;
        height: 100px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 5px -1px gray;
    }
</style>
<script>
  const hitTest = (e) => {
    // получение выпадающего списка и селектора
    const dropDownList = document.querySelector('#drop_down_list');
    const valueSelector = document.querySelector('#value_selector');

    // проверка открыт ли выпадающий список
    const dropDownListIsOpen = dropDownList.classList.contains('drop-down-list__open');

    // проверка нажатия на выпадающий список
    const clickedOnTheDropDownList = e.composedPath().includes(dropDownList);
    const clickedOnTheValueSelector = e.composedPath().includes(valueSelector);

    // проверка попадания по селектору и списку
    const hit = clickedOnTheValueSelector || clickedOnTheDropDownList;

    // если мы не попали по выпадающему списку и селектору и выпадающий список открыт, то
    if (!hit && dropDownListIsOpen) {
      // закрываем выпадающий список
      dropDownList.classList.add('drop-down-list__close');
      dropDownList.classList.remove('drop-down-list__open');
      // удалям слушатель событий
      document.removeEventListener('click', hitTest);
      // переворачиваем иконку
      document.querySelector('#arrow').classList.toggle('value-selector__arrow-pressed');
    }
  };

  const switchDropDownList = () => {
    // переворачивание иконки
    document.querySelector('#arrow').classList.toggle('value-selector__arrow-pressed');

    // получение выпадающего списка
    const dropDownList = document.querySelector('#drop_down_list');

    // проверка открыт ли выпадающий список
    const dropDownListIsOpen = dropDownList.classList.contains('drop-down-list__open');

    // если выпадающий список не открыт расчитываем координаты для его спавна +
    // добавляем проверку нажатий на странице
    if (!dropDownListIsOpen) {

      // получение позиции селектора
      const valueSelector = document.querySelector('#value_selector').getBoundingClientRect();
      const valueSelectorHeight = 27;
      const offsetY = 5;

      // координаты для спавна списка
      const dropDownListX = valueSelector.left + window.scrollX;
      const dropDownListY = valueSelector.top + window.scrollY + valueSelectorHeight + offsetY;

      // навешиваем координаты на список
      dropDownList.style.left = dropDownListX;
      dropDownList.style.top = dropDownListY;

      // проверка нажатий
      document.addEventListener("click", hitTest);
    }

    // получение количества классов. При первом открытии будет один класс, значит список закрыт
    const oneClass = dropDownList.classList.length === 1;

    if (oneClass) {
      dropDownList.classList.add('drop-down-list__open');
    } else if (dropDownListIsOpen) {
      dropDownList.classList.add('drop-down-list__close');
      dropDownList.classList.remove('drop-down-list__open');
    } else {
      dropDownList.classList.add('drop-down-list__open');
      dropDownList.classList.remove('drop-down-list__close');
    }
  };
</script>